.background {
    background: linear-gradient(to bottom, #f4a0a2, #e95858);
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #4165ae;
    display: flex;
    width: 100%;
    align-items: center;
}

.title {
    margin-top: 5px;
    color: #ffffff;
}

img {
    margin-top: 10px;
    width: 70px; /* adjust the width as needed */
}

.buttonscontainer {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainbutton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    padding: 10px;
    background-color: #4165ae;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.mainbutton img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.mainbutton:hover {
    background-color: #f51010;
}
