.background {
    /* background: linear-gradient(to bottom, #f4a0a2, #e95858); */
    background: linear-gradient(to bottom, #586284, #263848);
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #0a255c;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper2 {
    /* background-color: #4165ae; */
    background-color: #0a255c;
    position: absolute;
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titleuser {
    color: #ffffff;
}

.logout {
    position: absolute;
    top: 7vh;
    right: 5vh;
    background-color: #ce2424;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.logout:hover {
    background-color: #d1dada;
    color: black;
}

.buttonsuser {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containernew {
    display: flex;
    position: relative;
    margin-top: 5vh;
    margin-left: 80vh;
    margin-right: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.data {
    border-collapse: collapse;
    width: 40%;
}

.data {
    margin-top: 5vh;
    border: 3px solid #ddd;
    padding: 8px;
}

.data tr {
    /* background-color: #414ec3; */
    background-color: #ce2424;
    color: #ffffff;
    padding: 10px; /* add padding to the cells */
}

.data tr:hover {
    background-color: #a36464;
}

.data th {
    background-color: #4caf50;
    color: white;
}

.arrow-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-image: url("../../public/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-60%);
    background-color: transparent;
}

.arrow-button-left {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../../public/arrowleft.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-60%);
    background-color: transparent;
}

.upload-box {
    position: relative;
    border: 1px dashed #ccc;
    padding: 20px;
    text-align: center;
    width: 90%px; /* Adjust the width as needed */
    background-color: #fe0000; /* Change the background color */
    border-radius: 6px;
    margin-top: 20px; /* Add margin to create space below the button */
}

.upload-box.active {
    border-color: #00aaff;
}

.upload-label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    color: white; /* Change the text color */
}

.upload-icon {
    font-size: 24px;
    margin-right: 5px;
}

.file-input {
    display: none;
}

.file-name {
    font-size: 14px;
    color: #ffffff;
}

.containermycharts {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.buttonsmycharts {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 10px;
}

.containermy {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-gap: 20px; /* Gap between columns */
    overflow-x: auto;
    min-height: 100px; /* Set the desired minimum height */
}
.tablemycharts {
    width: 100%;
    table-layout: fixed;
}

.tablemycharts th,
.tablemycharts td {
    /* Customize the table cell styles */
    background-color: #a36464;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    /* Add any other styles you want */
}

.tablemycharts th {
    /* Customize the table header cell styles */
    background-color: #f0f0f0;
    color: #000000;
    font-weight: bold;
    /* Add any other styles you want */
}

.table-container {
    max-height: 400px; /* Set the desired maximum height */
    overflow-y: auto;
}

.no-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as needed */
}

.no-chart-box {
    background-color: transparent;
    padding: 20px;
    border: 3px dashed #f5f5f5;
    text-align: center;
    width: 650px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    display: flex;
    color: #f5f5f5;
    align-items: center;
    justify-content: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh; /* Adjust the height as needed */
}

.button-cell {
    text-align: center;
}

.download {
    padding: 8px;
    margin: 4px;
    border: none;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    width: 50px; /* Adjust the width as needed */
}

.download:hover {
    background-color: #e0e0e0;
    color: #bb5a5a;
}

.containerpreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.highcharts-container {
    width: 100%;
    height: 370px;
    max-width: 900px; /* Adjust the max-width value as needed */
}
